{% extends 'admin/admin_base.html' %}
{% block content %}
    <div class="boloContainer" id="vNews">
        <div class="ui breadcrumb">
            <a class="section">资讯</a>
            <i class="right angle icon divider"></i>
        </div>
        <div class="ui divider"></div>
        <table class="ui celled selectable table">
            <thead>
            <tr>
                <th>资讯</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <div v-show="noData" class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <tr v-for="(index, news) in newsList">
                <td>
                    <h4 class="ui image header">
                        <img src="${ news.picture1 }}" class="ui mini rounded image">
                        <div class="content">${ news.title }}
                            <div class="sub header">
                                <span><i class="eye icon"></i>${ news.views }}</span>
                                <span>&nbsp;</span>
                                <span><i class="comments icon"></i>${ news.comment_number }}</span>
                            </div>
                        </div>
                    </h4>
                </td>
                <td>${ news.create_time }}</td>
                <td>${ news.publish == true ? '已发布' : '未发布' }}</td>
                <td>
                    ${ news.news_type == 1 ? '小图新闻' : '大图新闻' }}
                </td>
                <td>
                    <a class="ui small blue button" href="/view/news/${ news.id }}" target="_blank">详情</a>
                    <a class="ui small blue button" href="/admin/news/${ news.id }}" target="_blank">修改</a>
                    <button v-show="newsList[index].publish" class="ui small gray labeled icon button"
                            @click="publishNews(newsList[index].id)"><i
                            class="icon download"></i>取消发布
                    </button>
                    <button v-else="newsList[index].publish" class="ui small green labeled icon button"
                            @click="publishNews(newsList[index].id)"><i
                            class="icon upload"></i>发布
                    </button>
                    <button class="ui small red labeled icon button" onclick="deleteNews(${ news.id }})"><i
                            class="icon delete"></i>删除
                    </button>
                    <div class="ui basic modal" id="delModal${ news.id }}">
                        <i class="close icon"></i>
                        <div class="header">
                            删除选手 XX
                        </div>
                        <div class="image content">
                            <div class="image">
                                <i class="remove user icon"></i>
                            </div>
                            <div class="description">
                                <p>情确认,您要删除资讯 ${ news.title }} 吗?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="two fluid ui inverted buttons">
                                <div class="ui red basic cancel inverted button">
                                    <i class="remove icon"></i>
                                    不不,点错了
                                </div>
                                <div class="ui green basic approve inverted button">
                                    <i class="checkmark icon"></i>
                                    废话
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="5">
                    <a class="ui left floated small green labeled icon button" href="/admin/new_news"><i
                            class="newspaper icon"></i> 添加资讯
                    </a>
                    <div class="ui right floated pagination menu">
                        <a class="icon item" :class="{'disabled': pageObj.previous == undefined}"
                           @click="getData($event, pageObj.previous)">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item" v-for="page in pageObj.page_range"
                           :class="{'active': page.page == pageObj.current}" @click="getData($event, page.page)">${
                            page.page }}
                            <a class="icon item" :class="{'disabled': pageObj.next == undefined}"
                               @click="getData($event, pageObj.next)">
                                <i class="right chevron icon"></i>
                            </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
{% block script %}
    <script>

    </script>
    <script src="/s/js/src/news.js"></script>
{% endblock %}