{% extends 'admin/admin_base.html' %}
{% block content %}
    <div class="boloContainer" id="vWeibo">
        <div class="ui breadcrumb">
            <a class="section">微博</a>
            <i class="right angle icon divider"></i>
        </div>
        <div class="ui divider"></div>
        <div class="ui icon message">
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">Token: ${ token }} <a class="ui small green button" href="https://api.weibo.com/oauth2/authorize?client_id=587332901&redirect_uri=www.boloesports.com/api/v1/lol/weibo/callback" target="_blank">刷新</a></div>
                <div class="content">uid: ${ uid }}</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/s/js/src/weibo.js"></script>
{% endblock %}