{% extends 'admin/admin_base.html' %}
{% block css %}
    {{ form.media }}
{% endblock %}
{% block content %}
    <div class="boloContainer">
        <div class="ui breadcrumb">
            <a class="section" href="/admin/news">资讯</a>
            <i class="right angle icon divider"></i>
            <a class="section">{{ news.title }}</a>
            <i class="right angle icon divider"></i>
        </div>
        <div class="ui divider"></div>
        <div>
            <form action="/admin/news/{{ news.id }}" class="ui form" method="post">
                <div class="field">
                    <label>文章标题:</label>
                    <input type="text" name="title" placeholder="文章标题" value="{{ news.title }}">
                </div>
                <div class="field">
                    <label>副标题:</label>
                    <input type="text" name="sub_title" placeholder="副标题" value="{{ news.sub_title }}">
                </div>
                <div class="field">
                    <label>文章类型:</label>
                    <select name="type" id="" class="ui dropdown" value="{{ news.news_type }}">
                        <option value="1">小图</option>
                        <option value="2">大图</option>
                        <option value="3">文字</option>
                    </select>
                </div>
                <div class="field">
                    <label>图片链接1:</label>
                    <input type="text" name="pic1" placeholder="图片链接1" value="{{ news.picture1 }}">
                </div>
                <div class="field">
                    <label>图片链接2:</label>
                    <input type="text" name="pic2" placeholder="图片链接2" value="{{ news.picture2 }}">
                </div>
                <div class="field">
                    <label>图片链接3:</label>
                    <input type="text" name="pic3" placeholder="图片链接3" value="{{ news.picture3 }}">
                </div>
                <div class="form-group">
                    {{ form }}
                </div>
                <div class="field">
                    <input type="submit" class="ui green button" value="提交" />
                </div>
                <input type="hidden" name="nid" value="{{ news.id }}">
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        window.onload = function () {
            $('#id_news_detail').css('width', '100%');
            $('#edui1').css('width', '100%');
            $('#edui1_iframeholder').css('width', '');
        };
        $('.dropdown').dropdown('set exactly', {{ news.news_type }}).dropdown({
            on: 'hover'
        });
        window.onbeforeunload = function (e) {
            return e.returnValue = '智障,你真的要离开吗？';
        };
    </script>
{% endblock %}