{% extends 'admin/admin_base.html' %}
{% block content %}
    <div class="boloContainer" id="vFeedback">
        <div class="ui breadcrumb">
            <a class="section">反馈</a>
            <i class="right angle icon divider"></i>
        </div>
        <div class="ui divider"></div>
        <table class="ui celled selectable table">
            <thead>
            <tr>
                <th>用户</th>
                <th>联系方式</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <div v-show="noData" class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <tr v-for="(index, feedback) in feedbacks">
                <td>
                    <h4 class="ui image header">
                        <img src="${ feedback.user.avatar }}" class="ui mini rounded image">
                        <div class="content">${ feedback.user.nick }}
                        </div>
                    </h4>
                </td>
                <td>${ feedback.user.phone }}</td>
                <td>${ feedback.read == true ? '已读' : '未读' }}</td>
                <td>
                    <button v-show="!feedbacks[index].read" class="ui small green button" @click="handle(feedbacks[index].id)">处理</button>
                    <a href="/admin/feedback/${ feedback.id }}" class="ui small blue button">详情</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="5">
                    <div class="ui action left icon input">
                        <i class="search icon"></i>
                        <input type="text" v-model="query" placeholder="搜索用户...">
                        <button class="ui green button" >搜索</button>
                    </div>
                    <div class="ui right floated pagination menu">
                        <a class="icon item" :class="{'disabled': pageObj.previous == undefined}"
                           @click="getData($event, pageObj.previous)">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item" v-for="page in pageObj.page_range"
                           :class="{'active': page.page == pageObj.current}" @click="getData($event, page.page)">${
                            page.page }}
                            <a class="icon item" :class="{'disabled': pageObj.next == undefined}"
                               @click="getData($event, pageObj.next)">
                                <i class="right chevron icon"></i>
                            </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
{% block script %}
    <script src="/s/js/src/feedback.js"></script>
{% endblock %}