{% extends 'admin/admin_base.html' %}
{% block content %}
    <div class="boloContainer" id="vTeams">
        <div class="ui breadcrumb">
            <a class="section">战队</a>
            <i class="right angle icon divider"></i>
        </div>
        <div class="ui divider"></div>
        <div class="ui left floated small primary labeled icon button" style="margin-bottom: 10px;" @click="getCountry" onclick="addPlayer()"><i
                class="user icon"></i> 添加战队
        </div>
        <div class="ui modal scrolling" id="addModal">
            <div class="header">
                新战队
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <div class="field">
                        <label for="">战队logo</label>
                        <form action="" id="form1">
                            <span class="ui fluid button btn-file">
                                    <img id="uploadPicture" src="" alt="">
                                    <span id="buttonLabel">选择图片</span>
                                        <input type="file" id="fileupload_input" name="img">
                                    </span></form>
                    </div>
                </div>
                <div class="description" style="width: 500px;">
                    <form action="" method="post" class="ui form">
                        <div class="field">
                            <label>战队全称</label>
                            <input type="text" name="nick" v-model="newTeam.name" placeholder="战队全称">
                        </div>
                        <div class="field">
                            <label>战队简写</label>
                            <input type="text" name="name" v-model="newTeam.abbreviation" placeholder="战队简写">
                        </div>
                        <div class="field">
                            <label for="">国籍 ${ newTeam.country }}</label>
                            <select name="belong" v-model="newTeam.country" class="ui dropdown"
                                    id="">
                                <option value="">选择国家</option>
                                <option v-for="country in countrys" value="${ country.id }}">${ country.name }}
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label for="">简介</label>
                            <textarea name="" id="" rows="4" v-model="newTeam.info"></textarea>
                        </div>

                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    算了
                </div>
                <div class="ui positive right labeled icon button" @click="createNewTeam">
                    好了
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
        <table class="ui celled selectable table">
            <thead>
            <tr>
                <th>战队</th>
                <th>简介</th>
                <th>队员</th>
                <th>国籍</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <div v-show="noData" class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <tr v-for="team in teams">
                <td>
                    <h4 class="ui image header">
                        <img src="${ team.logo }}" class="ui mini rounded image">
                        <div class="content">${ team.name }}
                            <div class="sub header">${ team.abbreviation }}</div>
                        </div>
                    </h4>
                </td>
                <td></td>
                <td><h4 class="ui image header" style="display: inline-block;">
                    <img v-for="player in team.players" src="${ player.avatar }}" style="margin-right: 2px;"
                         class="ui mini rounded image">
                </h4></td>
                <td>
                    <h4 class="ui image header">
                        <img src="${ team.country.flag }}" class="ui mini rounded image">
                        <div class="content">${ team.country.name }}</div>
                    </h4>
                </td>
                <td>
                    <button class="ui small blue button">详情</button>
                    <button class="ui small red labeled icon button" onclick="deletePlayer(${ team.id }})"><i
                            class="icon delete"></i>删除
                    </button>
                    <div class="ui basic modal" id="delModal${ team.id }}">
                        <i class="close icon"></i>
                        <div class="header">
                            删除战队 ${ team.name }}
                        </div>
                        <div class="image content">
                            <div class="image">
                                <i class="remove user icon"></i>
                            </div>
                            <div class="description">
                                <p>情确认,您要删除选手 ${ team.name }} 吗?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="two fluid ui inverted buttons">
                                <div class="ui red basic inverted button">
                                    <i class="remove icon"></i>
                                    废话
                                </div>
                                <div class="ui green basic inverted button">
                                    <i class="checkmark icon"></i>
                                    不不,点错了
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="5">
                    <div class="ui right floated pagination menu">
                        <a class="icon item " :class="{'disabled': pageObj.previous == undefined}"
                           @click="getData($event, pageObj.previous)">
                            <i class="left chevron icon"></i>
                        </a>
                        {#                        <a class="item" v-for="page in pageObj.page_range"></a>#}
                        <a class="item" v-for="page in pageObj.page_range"
                           :class="{'active': page.page == pageObj.current}" @click="getData($event, page.page)">${
                            page.page }}</a>
                        </a>
                        <a class="icon item" :class="{'disabled': pageObj.next == undefined}"
                           @click="getData($event, pageObj.next)">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
{% block script %}
    <script>
        function deletePlayer(id) {
            mid = '#delModal' + id.toString();
            $(mid)
                    .modal('setting', 'closable', false)
                    .modal('show');
        }
        function addPlayer() {
            $('#addModal')
                    .modal('setting', 'closable', false)
                    .modal('setting', 'transition', 'horizontal flip')
                    .modal('show');
        }
    </script>
    <script src="/s/js/src/teams.js"></script>
{% endblock %}