<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/??sm.min.css,sm-extend.min.css">
    <title>菠萝电竞</title>
</head>
<body>
<div class="ui fixed inverted main menu">
    <div class="">
        <a class="launch icon item" id="boloMenu">
            <i class="content icon"></i>
        </a>
        <div class="right menu">

            <div class="vertically fitted borderless item">
            </div>

        </div>
    </div>
</div>
<div class="ui sidebar inverted vertical menu">
    <a class="item">
        1
    </a>
    <a class="item">
        2
    </a>
    <a class="item">
        3
    </a>
</div>
<div class="pusher">
    <!-- Site content !-->
</div>
{% block content %}
{% endblock %}
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/??sm.min.js,sm-extend.min.js' charset='utf-8'></script>
</body>
</html>