<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/s/css/semantic.min.css">
    <link rel="stylesheet" href="/s/css/news.css">
    <title>{{ news.title }}-菠萝电竞</title>
</head>
<body>
    <div style="margin-left: 1em; margin-right: 1em;">
    <h1 style="text-align: center;">{{ news.title }}</h1>
    <div style="padding: 0.5em;">{{ news.content | safe }}</div>
        </div>
<script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="/s/js/semantic.min.js"></script>
</body>
</html>